.todo {
  display: flex;
  margin: 20px 0;
  flex-direction: column;

  @media (min-width: 560px) {
    margin: 20px 20%;
  }
  .tasks {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
