.task {
  display: flex;
  justify-content: space-between;

  width: 100%;
  .task-header {
    font-size: 30px;
    text-transform: capitalize;

    span {
      font-size: 18px;
      font-family: "Roboto Condensed", sans-serif;
    }
  }
}
