.update-task-modal {
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  // border: 1px groove sienna;
  display: flex;
  flex-direction: column;
  align-items: center;
  form {
    width: 80%;
    height: 80%;
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;

    textarea {
      width: 100%;
      height: 100%;
      font-family: inherit;
      font-size: 1.25rem;
      resize: none;
    }
    input[type="submit"] {
      width: 30px;
      height: 30px;
    }
  }
}
