.header {
  background-color: whitesmoke;
  display: flex;
  justify-content: flex-start;

  .nav {
    padding-left: 12px;
    font-size: 24px;
    font-weight: 100px;

    &:hover {
      font-weight: bold;
      color: rgba(#101010, 0.7);
    }
  }
}
